nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--fs-sm);
}

a {
  color: var(--c-heading);

  &:hover {
    text-decoration: underline;
    color: var(--c-ink);
  }
}

.sep {
  display: inline-flex;
  color: var(--c-muted);
}

.current {
  color: var(--c-muted);
}
