<ol class="track">
  @for (s of steps; track s.key; let i = $index) {
    <li class="step" [class.is-current]="s.key === current()" [class.is-done]="i < index()">
      <span class="badge" [attr.aria-current]="s.key === current() ? 'step' : null">
        <app-icon [name]="s.icon" [size]="24" />
      </span>
      <span class="label">
        {{ s.labelKey | t }}
        @if (i < index()) {
          <span class="sr-only">{{ 'steps.done' | t }}</span>
        }
      </span>
    </li>
  }
</ol>
