<div class="head">
  <div class="avatar">
    <img [src]="account.profile().avatar" [alt]="account.fullName()" width="160" height="160" />
    <button type="button" [attr.aria-label]="'personal.changePhoto' | t">
      <app-icon [name]="'edit'" [size]="24" />
    </button>
  </div>

  <button type="button" class="btn btn--primary" (click)="toggleEdit()">
    <app-icon [name]="'edit'" [size]="24" />
    {{ (editing() ? 'personal.saveProfile' : 'personal.editProfile') | t }}
  </button>
</div>

<form [formGroup]="form">
  <label class="field">
    <span class="field__label">{{ 'personal.firstName' | t }}</span>
    <input
      class="control"
      type="text"
      formControlName="firstName"
      [class.is-invalid]="invalid('firstName')"
    />
    @if (invalid('firstName')) {
      <span class="field__error">{{ 'personal.firstNameRequired' | t }}</span>
    }
  </label>

  <label class="field">
    <span class="field__label">{{ 'personal.lastName' | t }}</span>
    <input
      class="control"
      type="text"
      formControlName="lastName"
      [class.is-invalid]="invalid('lastName')"
    />
    @if (invalid('lastName')) {
      <span class="field__error">{{ 'personal.lastNameRequired' | t }}</span>
    }
  </label>

  <label class="field">
    <span class="field__label">{{ 'personal.phone' | t }}</span>
    <input
      class="control"
      type="tel"
      formControlName="phone"
      [class.is-invalid]="invalid('phone')"
    />
    @if (invalid('phone')) {
      <span class="field__error">{{ 'personal.phoneInvalid' | t }}</span>
    }
  </label>

  <label class="field">
    <span class="field__label">{{ 'personal.email' | t }}</span>
    <input
      class="control"
      type="email"
      formControlName="email"
      [class.is-invalid]="invalid('email')"
    />
    @if (invalid('email')) {
      <span class="field__error">{{ 'personal.emailInvalid' | t }}</span>
    }
  </label>

  <label class="field full">
    <span class="field__label">{{ 'personal.address' | t }}</span>
    <input class="control" type="text" formControlName="address" />
  </label>

  @if (savedAt()) {
    <p class="saved full">{{ 'personal.updated' | t }}</p>
  }
</form>
